body {
  margin: 0;
  background: #F9F9F9;
  font-family: Inter;
  color: #666;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

p {
  line-height: 24px;
}

ul, ol {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 12px;
  list-style-type: none;
}

.flx-center {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

.link-button {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  background: #5C80FF;
  border: none;
  border-radius: 4px;
}

.link-button a {
  color: #fff;
  font-size: 12px;
  font-family: 'Inter';
  font-weight: 500;
  margin-right: 4px;
}

.link-button img {
  width: 16px;
  height: 16px;
}

.attach {
  background: #eee;
}

.attach a {
  color: #666;
}

.attach img path {
  color: #666;
}



header {
  background: #ffffff;
  height: 108px;
  padding: 0px 64px;
  border-bottom: 2px solid #E5E5E5;
  justify-content: space-between;
}

.header-title a {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  margin: 0;
  color: #000;
}

.header-link {
  font-size: 13px;
  color: #666;
  margin-right: 8px;
}

.core-content {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  align-items: stretch;
}

nav  {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 48px 48px 48px 36px;
  background: #F0F0F0;
  border-right: 2px solid #E5E5E5;
}

nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  list-style-type: none;
  margin: 0;
}

.nav-item {
  padding: 12px 16px;
  transition: 0.1s;
  border-radius: 8px;
  width: 160px;
  opacity: 0.5;
}

.active {
  opacity: 1;
}

.nav-link {
  font-size: 16px;
  color: #000000;
}

.nav-item:hover {
  opacity: 1;
  background: #dddddd;
  cursor: pointer;
}

.menu-icon {
  display: flex;
  margin-right: 12px;
}

.menu-icon svg {
  line-height: 1;
  vertical-align: top;
  width: 24px;
  height: 24px;
}

.active a {
  color: #0E9594;
}

.active svg path {
  stroke: #0E9594;
}

main {
  padding: 48px 72px;
  width: 100%;
}

main h1 {
  font-family: 'Lexend Deca';
  font-weight: 400;
  margin-bottom: 24px;
}

/* main ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
} */

.request-list {

  margin: 24px 0;
  display: flex;
}

.request {
  display: flex;
  flex-direction: column;
  margin: 12px 12px 0 0;
  width: 33.3%;
  /* box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05); */
  border-radius: 8px;
  padding: 30px;
  background: #eee;
}

.request-type {
  color: #0E9594;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 12px;
  display: flex;
  /* padding: 16px 24px 8px; */
  border-radius: 8px 8px 0 0;
}

.request-desc {
  font-size: 14px;
  line-height: 22px;
  color: #666;
  /* padding: 0 24px 16px; */
  border-radius: 0 0px 4px 4px;
  min-height: 160px;
}

.table li {
  background: none;
  padding: 0;
  margin-bottom: 16px;
}

.record-menu {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
}

.record-menu-item {
  opacity: 0.5;
  display: flex;
  align-items: center;
  margin-right: 12px;
  padding: 12px 0px;
  /* background: #eee;
  border-radius: 60px; */
}

.active-menu-item {
  opacity: 1;
  border-bottom: 2px solid black;
}

.record-menu:first-child {
  color: black;
  font-size: 14px;
  font-weight: 500;
}

.count {
  font-size: 12px;
  color: white;
  background: #7ACBCA;
  padding: 2px 4px;
  border-radius: 4px;
  margin-left: 8px;
}

.rule {
  height: 2px;
  width: 100%;
  background: #c4c4c4;
  border-radius: 2px;
}

.record {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  border-bottom: 1px solid #eee;
  padding: 12px;
  margin: 0;
}

.record-id {
  color: #999;
  font-size: 12px;
  width: 24px;
  margin-right: 4px;
}

.record-name {
  font-size: 14px;
}

.record-tag {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  background: #FFCAC7;
  padding: 2px 4px;
  border-radius: 4px;
}

.record-date {
  margin-left: 12px;
  font-size: 14px;
  color: #999;
}

.bill {
  background: #0E9594;
  color: white;
  font-weight: 500;
  border-radius: 4px;
}
