<!DOCTYPE html>
<html lang="en" dir="ltr">
  {{- partial "head.html" -}}
  <script type="text/javascript" src="/js/beacon.js"></script>
  <body>
    {{- partial "header.html" -}}
    <section class="core-content">
      <nav>{{ partial "nav" . }}</nav>
      <main>
      {{- block "main" . }}{{- end }}
      </main>
    </section>
    <!-- {{- partial "footer.html" -}} -->
    <!-- <script type="text/javascript" src="/js/main.js"></script> -->
    <script data-main="js/config" src="js/require.js"></script>
    <script>
      require(['config'], function() {

      });
    </script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/airtable.js"></script>
  </body>
</html>
