{{ define "main" }}

<p>Welcome to the CION dashboard. To get in touch with TNB, please use the contact widget in the bottom left-hand corner. When submitting an email, please make sure to properly tag your request as follows.</p>

<section class="request-list">
  <div class="request">
    <div class="request-type">
      Work Request
    </div>
    <div class="request-desc">
      Use this tag when submitting any requests for any additional work. We'll scope it out and get back to you with a quote.
    </div>
  </div>
  <div class="request">
    <div class="request-type">
      Bug Report
    </div>
    <div class="request-desc">
      Use this tag to alert us of any usability issues or bugs.
    </div>
  </div>
  <div class="request">
    <div class="request-type">
      General Question
    </div>
    <div class="request-desc">
      Not sure? Send us a general inquiry and we'll be in touch as soon as we can.
    </div>
  </div>
</section>





{{ end }}
